.Login {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  height: 100vh;
}

.Login .container {
  padding-top: 15vh;
}

.Login .form-container {
  border-radius: 10px;
  padding: 4rem 6rem;
}

.Login .form-control {
  border-radius: 0;
  border: 0;
  border-left: 3px solid var(--primary);
}

.Login .form-control:focus {
  color: initial;
  outline: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 3px solid var(--primary);
}